In [38]:
import pandas as pd
from collections import defaultdict

In [122]:
STOPS_FILE = 'google_transit/stops.csv'

def get_stops():
    stops = []
    stops_df = pd.read_csv(STOPS_FILE)
    return stops_df

In [123]:
stops = get_stops()

In [124]:
stops

,stop_id,stop_name,stop_lat,stop_lon,location_type,parent_station
0,101,Van Cortlandt Park-242 St,40.889248,-73.898583,1.0,NaN
1,101N,Van Cortlandt Park-242 St,40.889248,-73.898583,NaN,101
2,101S,Van Cortlandt Park-242 St,40.889248,-73.898583,NaN,101
3,103,238 St,40.884667,-73.900870,1.0,NaN
4,103N,238 St,40.884667,-73.900870,NaN,103
...,...,...,...,...,...,...
1492,S30N,Tompkinsville,40.636949,-74.074835,NaN,S30
1493,S30S,Tompkinsville,40.636949,-74.074835,NaN,S30
1494,S31,St George,40.643748,-74.073643,1.0,NaN
1495,S31N,St George,40.643748,-74.073643,NaN,S31
1496,S31S,St George,40.643748,-74.073643,NaN,S31

In [93]:
schedule.iloc[450]

Name                                                               86th St
(Latitude, Longitude)              (40.77949199820952, -73.95558899985132)
Lines                                         ['4', '5', '6', '6 Express']
Alternate ID                                                           626
Northbound               ['01:36:30', '01:36:30', '01:36:30', '01:54:00...
Southbound               ['00:31:30', '00:31:30', '00:31:30', '00:43:30...
Name: 450, dtype: object

In [94]:
all_stations_from_line = set()
for line, stations in line_data.items():
    for station in stations:
        all_stations_from_line.add(station[0])

In [96]:
len(all_stations_from_line)

359